/* This is a CSS comment. Notice that CSS comments are
enclosed by different characters than HTML comments. */

/* CSS allows you to give your page style (colors, shapes, fonts, etc.)
You can apply CSS elements to entire HTML classes. Review Lesson 1.3
if you need a refresher about how to do this. */

body {
  font-family: Verdana;
}

div {
  max-width: 1200px
}

.caption {
  color: black;
  font-size: 20px;
  font-family: Times;
  font-style: italic;
  text-align: center;
  box-sizing: border-box;
}

.belowFigure {
  color: black;
  font-size: 20px;
  font-family: Times;
  text-align: center;
}

figure {
    display: inline-block;
    border: 1px solid gray;
    margin: 20px; /* adjust as needed */
}

figure figcaption {
    text-align: center;
}

.smallCaption {
  color: black;
  font-size: 14px;
  font-family: Times;
  font-style: italic;
  box-sizing: border-box;
  text-align: center;
}

.description {
  font-size: 24px;
}

.details {
  font-size: 20px;
}

.image-div {
  display: -webkit-flex;
  display: flex;
}


.image {
  max-width: 300px;
  width: auto;
  max-height: 300px;
  height: auto;
  margin: 10px 10px 10px 10px;
}
